<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/global.css}">
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <div class="wrapper">
        <label>
            Choisissez votre première ville
            <input id="input1" list="list1" onchange="updateButtonVille()">
        </label>
        <datalist class="wrapper__listVilles" id="list1" >
            <option th:value="${ville.nomCommune}" th:each="ville: ${villes}" class="wrapper__listVilles__villeChoisie" th:onclick="console.log('click')">
        </datalist>
        <button class="wrapper__boutonDistance" id="boutonDistance" onclick="calculerDistance()" disabled>Calculer distance</button>
        <label>
            Choisissez votre deuxième ville
            <input id="input2" list="list2" onchange="updateButtonVille()">
        </label>
        <datalist class="wrapper__listContainer" id="list2" >
            <option th:value="${ville.nomCommune}" th:each="ville: ${villes}" class="wrapper__listVilles__villeChoisie" th:onclick="console.log('click')">
        </datalist>
        <div id="distance" class="distance"></div>
    </div>
</body>
<script th:inline="javascript">
    var villes  = /*[[${villes}]]*/ [];
    var ville1 = null;
    var ville2 = null;
    function addVille(){
        for(var i = 0; i < villes.length; i++){
            if (villes[i].nomCommune===document.getElementById("input1").value){
                ville1=villes[i];
            }else if (villes[i].nomCommune===document.getElementById("input2").value) {
                ville2=villes[i];
            }
        }
    }

    function updateButtonVille(){
        if(document.getElementById("input1").value!=="" && document.getElementById("input2").value!==""){
            document.getElementById("boutonDistance").disabled=false;
        }else{
            document.getElementById("boutonDistance").disabled=true;
        }
    }

    function calculerDistance(){
        addVille();
        //https://www.geeksforgeeks.org/program-distance-two-points-earth/#:~:text=For%20this%20divide%20the%20values,is%20the%20radius%20of%20Earth.
        lon1 =  ville1.longitude * Math.PI / 180;
        lon2 = ville2.longitude * Math.PI / 180;
        lat1 = ville1.latitude * Math.PI / 180;
        lat2 = ville2.latitude * Math.PI / 180;
        // Haversine formula
        let dlon = lon2 - lon1;
        let dlat = lat2 - lat1;
        let a = Math.pow(Math.sin(dlat / 2), 2)
            + Math.cos(lat1) * Math.cos(lat2)
            * Math.pow(Math.sin(dlon / 2),2);

        let c = 2 * Math.asin(Math.sqrt(a));

        // Radius of earth in kilometers. Use 3956
        // for miles
        let r = 6371;

        const distance = c * r;
        console.log(distance);
        document.getElementById("distance").innerHTML = "distance: " + distance +" km";
    }
</script>
</html>